.sidebar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-item,
.sidebar-item-e {
    font-size: 20px;
    position: relative;
}

.sidebar-item a,
.sidebar-item-e a {
    padding: 12px 10px;
    display: block;
}

.speech {
    font-size: 16px;
    display: flex;
    color: white;
    background-color: black;
    position: absolute;
    border-radius: 10px;
    width: max-content;
    z-index: 10;
    text-align: center;
    pointer-events: none;
    padding: 5px 10px;
    top: 8px;
    left: 50px;
    opacity: 0;
}

.speech::after {
    content: "";
    position: absolute;
    border-top: 12px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid black;
    left: -11px;
    top: 6px;
}

/* .sidebar-item:hover>.speech {
    animation: slideIn 0.4s ease forwards;
}

.sidebar-item:not(:hover)>.speech {
    animation: slideOut 0.3s ease forwards;
} */

.sidebar-item-Active a,
.sidebar-item-Active .speech {
    color: var(--bs-primary);
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(30%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(30%);
    }
}


/* //////////////input field /////////////////////////*/

.form__group {
    position: relative;
    padding: 10px 0 0;
    width: 100%;
}

.form__field {
    width: 100%;
    border: none;
    border-bottom: 1px solid #9b9b9b;
    outline: 0;
    font-size: 16px;
    padding: 7px 0;
    font-weight: 600;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 14px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 14px;
    font-weight: 500;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 600;
    border-width: 3px;
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 14px;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}


/* ///////////////////////// */
#btnClearData {
    transition: all 0.2s ease;
}

#btnClearData:hover {
    opacity: 0.8;
}



/* -------Home Page------------ */

.btn-sort {
    border: none;
    background-color: transparent;
    font-weight: 600;
}

.btn-sort:hover {
    opacity: 0.7;
}


/* body {
    overflow-x: hidden;
} */

.offcanvas-backdrop {
    /* Tắt hiệu ứng mờ */
    opacity: 0 !important;
    cursor: pointer;
}


/* Statisc Page */

.panel-content {
    width: 0;
    position: absolute;
    top: 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: -1;
    transition: all 0.5s ease;
    transform-origin: top center;
    transform: scaleY(0);
}

.panel-content.panel-collapsed {
    animation: Shrink 0.5s ease forwards;
}

.panel-content.panel-expanded {
    width: 220px;
    animation: expand 0.5s ease forwards;
}

.btnClearBorder {
    border-color: transparent;
}

@keyframes expand {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes Shrink {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }

    100% {
        opacity: 0;
        transform: scaleY(0);
    }
}

/* .modal-backdrop {
    opacity: 0 !important;
} */

.cardContainer {
    position: relative;
    width: 100%;
    height: 385px;
}

.theCard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.theCard.active {
    transform: rotateY(180deg);
}

.crypto {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.crypto::-webkit-scrollbar {
    display: none;
}

.crypto-item .col-custom {
    width: 28%;
}

.crypto-item p {
    margin-bottom: 0;
}

.crypto-item img {
    width: 35px;
    height: 35px;
    background: no-repeat center/cover;
}

.weather {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background: url('../images/weather/hot.png') no-repeat center/cover;
    transition: all 0.5s ease;
}

.weather.cold {
    background: url('../images/weather/cold.png') no-repeat center/cover;
    transition: all 0.5s ease;
}

#btn_weatherMyAddress {
    transition: all 0.5s ease;
    border: none;
    color: #aba499;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    right: 5%;
    font-size: 18px;
    padding: 0;
    opacity: 0.6;
}

#btn_weatherMyAddress:hover {
    opacity: 0.8;
    color: var(--bs-bg-opacity);
}

#tbl_weatherSearch {
    transition: all 0.5s ease;
    background-color: rgba(24, 26, 27, 0.2);
    border: none;
    outline: none;
    border-radius: 0px 15px 0 15px;
}

#tbl_weatherSearch::placeholder {
    color: #aba499;
}

#tbl_weatherSearch:focus {
    background-color: rgba(24, 26, 27, 0.6);
    border-radius: 15px 0 15px 0;
}

.temperature {
    text-shadow: 4px 4px rgba(0, 0, 0, 0.7);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
    border: none;
}

.tooltip-price::before {
    content: "\2022";
    color: var(--bs-primary);
    margin-right: 5px;
    font-size: 2.5rem;
    vertical-align: middle;
}


/* ---------SpendingPage---------- */

.searchDate {
    top: 40px;
    left: 2px;
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform-origin: top center;
    transition: all .5s ease;
    transform: scaleY(0);
}

.searchDate::before {
    content: "";
    position: absolute;
    bottom: calc(100% - 1px);
    left: 8px;
    border: 10px solid;
    border-color: transparent transparent rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) transparent;
}

.searchDate.searchDate-collapsed {
    animation: Shrink 0.5s ease forwards;
}

.searchDate.searchDate-expanded {
    width: 250px;
    animation: expand 0.5s ease forwards;
}

#tbl-spendlist-input,
.group-btn_action-edit {
    display: none;
}

.group-btn_action button,
.group-btn_action-edit button {
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}

.btn-spendView {
    font-size: 12px;
    border: none;
    background-color: transparent;
    opacity: 0.6;
    width: 100%;
    transition: all .5s ease;
}

.btn-spendView:hover {
    opacity: 1;
}

#modalSpendViews.modal-sm {
    --bs-modal-width: 350px;
}

/* ------ Noted ---------- */

.list-group-item.active {
    background-color: var(--bs-primary-border-subtle);
    color: black;
}

.noted-content {
    display: flex;
    transition: all .5s ease;
}

.btn-noted-toggle-action:hover {
    background-color: transparent;
}

.btn-noted-toggle-action {
    margin-left: 5px;
    border-radius: 0;
    height: 100%;
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
    border-bottom: none;
    border-top: none;
    border-right: none;
}

.list-group-item.active .btn-noted-toggle-action {
    border-color: var(--bs-list-group-active-border-color);
}

.noted-content_action {
    display: none;
    margin-right: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0;
    right: 0;
    transition: all .5s ease;
}

.noted-content_action.show {
    display: flex;
    animation: slide-right-show 0.5s ease forwards;
}

.noted-content_action.hidden {
    animation: slide-right-hidden 0.5s ease forwards;
}

.noted-content_action button {
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .3rem;
    --bs-btn-font-size: .6rem;
}



@keyframes slide-right-show {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-right-hidden {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(100%);
    }
}

.border-top-bottom-left-radius {
    border-top-left-radius: var(--bs-border-radius) !important;
    border-bottom-left-radius: var(--bs-border-radius) !important;
}

.ipgroup-form {
    transition: all 0.5s ease;
}


/* -----------Spendlist--------- */

.form-addSpendlist {
    opacity: 0;
    transition: all .5s ease;
}

@keyframes sideslip_on {
    0% {
        opacity: 0;
        transform: scaleX(0);
        transform: translateX(-70%);
    }

    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes sideslip_off {
    0% {
        opacity: 1;
        transform: scaleX(1);
    }

    100% {
        opacity: 0;
        transform: scaleX(0);
        transform: translateX(-70%);
    }
}


/* ----- Noted --------- */

.list-group-item.pointer.active {
    color: white;
}


/* --------Settings ---------- */

#tbl_syncEmail {
    color: transparent;
    transition: all .5s ease;
}

#tbl_syncEmail:hover {
    color: var(--bs-body-color);
}

.app_authName {
    font-family: 'Courgette', sans-serif;
}