.sidebar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-item {
    font-size: 20px;
    position: relative;
}

.sidebar-item a {
    padding: 12px 10px;
    display: block;
}

#page-setting,
#page-logout,
#page-profile {
    font-size: 20px;
    position: relative;
}

#page-setting a,
#page-logout a,
#page-profile a {
    padding: 12px 10px;
    display: block;
}

.speech {
    font-size: 16px;
    display: flex;
    color: white;
    background-color: black;
    position: absolute;
    border-radius: 10px;
    width: max-content;
    z-index: 10;
    text-align: center;
    pointer-events: none;
    padding: 5px;
    top: 8px;
    left: 50px;
    opacity: 0;
}

.speech::after {
    content: "";
    position: absolute;
    border-top: 12px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid black;
    left: -11px;
    top: 6px;
}

/* .sidebar-item:hover>.speech {
    animation: slideIn 0.4s ease forwards;
}

.sidebar-item:not(:hover)>.speech {
    animation: slideOut 0.3s ease forwards;
} */

.sidebar-item-Active a,
.sidebar-item-Active .speech {
    color: var(--bs-primary);
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(30%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(30%);
    }
}


/* //////////////input field /////////////////////////*/

.form__group {
    position: relative;
    padding: 10px 0 0;
    width: 100%;
}

.form__field {
    width: 100%;
    border: none;
    border-bottom: 1px solid #9b9b9b;
    outline: 0;
    font-size: 16px;
    padding: 7px 0;
    font-weight: 600;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 14px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 14px;
    font-weight: 500;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 600;
    border-width: 3px;
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 14px;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}


/* ///////////////////////// */
#btnClearData {
    transition: all 0.2s ease;
}

#btnClearData:hover {
    opacity: 0.8;
}



/* -------Home Page------------ */

.btn-sort {
    border: none;
    background-color: transparent;
    font-weight: 600;
}

.btn-sort:hover {
    opacity: 0.7;
}


/* body {
    overflow-x: hidden;
} */

.offcanvas-backdrop {
    /* Tắt hiệu ứng mờ */
    opacity: 0 !important;
    cursor: pointer;
}


/* Statisc Page */

.panel-content {
    width: 0;
    position: absolute;
    top: 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: -1;
    transition: all 0.5s ease;
    transform-origin: top center;
    transform: scaleY(0);
}

.panel-content.panel-collapsed {
    animation: Shrink 0.5s ease forwards;
}

.panel-content.panel-expanded {
    width: 220px;
    animation: expand 0.5s ease forwards;
}

.btnClearBorder {
    border-color: transparent;
}

@keyframes expand {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes Shrink {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }

    100% {
        opacity: 0;
        transform: scaleY(0);
    }
}


/* ---------SpendingPage---------- */

.searchDate {
    top: 40px;
    left: 2px;
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform-origin: top center;
    transition: all .5s ease;
    transform: scaleY(0);
}

.searchDate::before {
    content: "";
    position: absolute;
    bottom: calc(100% - 1px);
    left: 8px;
    border: 10px solid;
    border-color: transparent transparent rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) transparent;
}

.searchDate.searchDate-collapsed {
    animation: Shrink 0.5s ease forwards;
}

.searchDate.searchDate-expanded {
    width: 250px;
    animation: expand 0.5s ease forwards;
}