<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../public/images/favicon.ico">
    <link rel="stylesheet" href="../../public/libs/bootstrap-5.3.3/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/libs/fontawesome-6.4.2/css/all.css">
    <link rel="stylesheet" href="../../public/libs/jquery-autocomplete-1.0.7/jquery.auto-complete.css">
    <link rel="stylesheet" href="../../public/libs/animate-4.1.1/animate.min.css">
    <link rel="stylesheet" href="../../public/libs/toast/toast.css">
    <link rel="stylesheet" href="../../public/css/main.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <script src="../../public/libs/jquery-3.7.1/all.js"></script>
    <script src="../../public/libs/jquery-autocomplete-1.0.7/jquery.auto-complete.min.js"></script>
    <script src="../../public/libs/handlebars/handlebars4.7.8.min.js"></script>
    <script src="../../public/libs/ckeditor5-41.2.0/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <title>Spending Manager</title>
</head>

<body>
    <main>
        <div id="appcontainer" class="d-flex justify-content-center align-items-center bg-black" style="height: 100vh;">
            <div id="appcontent" class="">
                <div id="toast"></div>

                <!-- MainContent -->
                <div class="d-flex">
                    <!-- sidebar -->
                    <div>
                        <div class="sidebar border-end border-dark" style="padding-left: 1px;">
                            <ul class="sidebar-list">
                                <li id="page-home" class="sidebar-item">
                                    <a href="#" class="link-item">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                    <div class="speech">
                                        Trang Chủ
                                    </div>
                                </li>
                                <li id="page-spending" class="sidebar-item">
                                    <a href="#" class="link-item">
                                        <i class="fa-solid fa-message-dollar"></i>
                                    </a>
                                    <div class="speech">
                                        Chi Tiêu
                                    </div>
                                </li>
                                <li id="page-statics" class="sidebar-item">
                                    <a href="#" class="link-item">
                                        <i class="fa-solid fa-chart-pie-simple-circle-dollar"></i>
                                    </a>
                                    <div class="speech">
                                        Thống Kê
                                    </div>
                                </li>
                                <li id="page-noted" class="sidebar-item">
                                    <a href="#" class="link-item">
                                        <i class="fa-solid fa-notebook"></i>
                                    </a>
                                    <div class="speech">
                                        Ghi Chú
                                    </div>
                                </li>
                                <li id="page-spendlist" class="sidebar-item-e">
                                    <a href="#offcanvasSpendlist" class="link-item" data-bs-toggle="offcanvas"
                                        aria-controls="offcanvasSpendlist">
                                        <i class="fa-solid fa-table-list"></i>
                                    </a>
                                    <div class="speech">
                                        Danh Sách
                                    </div>
                                </li>
                                <li id="page-changelog" class="sidebar-item-e">
                                    <a href="#" class="link-item" data-bs-toggle="modal"
                                        data-bs-target="#modalChangeLogs">
                                        <i class="fa-solid fa-clock-rotate-left"></i>
                                    </a>
                                    <div class="speech">
                                        Các Thay Đổi
                                    </div>
                                </li>
                            </ul>

                            <ul class="sidebar-list border-top border-dark">
                                <li id="page-setting" class="sidebar-item-e">
                                    <a href="#offcanvasSetting" class="link-item" data-bs-toggle="offcanvas"
                                        aria-controls="offcanvasSetting">
                                        <i class="fa-solid fa-gear"></i>
                                    </a>
                                    <div class="speech">
                                        Cài Đặt
                                    </div>
                                </li>
                                <li id="page-lock" class="sidebar-item-e">
                                    <a href="#" class="link-item">
                                        <i class="fa-solid fa-lock-keyhole-open"></i>
                                    </a>
                                    <div class="speech">
                                        Khoá Ứng Dụng
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Page Template -->
                    <div id="page-content" style="width: 870px; height: 528px;"></div>
                </div>

                <!-- OffcanvasSetting -->
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSetting"
                    aria-labelledby="offcanvasSetting" style="width: 335px;">
                </div>

                <!-- OffcanvasProfile -->
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasProfile"
                    aria-labelledby="offcanvasProfile" style="width: 300px;">
                </div>

                <!-- OffcanvasSpendlist -->
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSpendlist"
                    aria-labelledby="offcanvasSpendlist" style="width: auto">
                </div>
            </div>

            <!-- Modal Confirm Exit App -->
            <div class="modal modal-sm fade" id="modalConfirmExit" tabindex="-1" aria-labelledby="modalConfirmExit"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <span name="title1" class="ms-3">
                                Bạn có muốn đóng ứng dụng hoặc thu xuống khay hệ thống?.
                            </span>
                            <br>
                            <span name="title2" class="ms-3">
                                Thu xuống khay sẽ giữ ứng dụng chạy ngầm để có thể nhận được thông báo.
                            </span>
                            <div class="input-group-sm mt-3">
                                <input id="remember_choice_exit" type="checkbox" class="form-check-input">
                                <label for="remember_choice_exit" class="form-check-label">Ghi nhớ lựa chọn của
                                    tôi</label>
                            </div>

                            <div class="mt-3 d-flex justify-content-between">
                                <button id="btnExit" type="button" class="btn btn-sm btn-outline-primary"
                                    style="width: 110px;" data-bs-dismiss="modal">Thoát</button>
                                <button id="btnTray" type="button" class="btn btn-sm btn-success"
                                    style="width: 110px;">Thu
                                    xuống</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Cofrim Download Update -->
            <div class="modal modal-sm fade" id="modalConfirmDownloadUpdate" tabindex="-1"
                aria-labelledby="modalConfirmDownloadUpdate" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <strong class="d-block text-info text-center">
                                Phát hiện có bản cập nhật mới, bạn có muốn tải về không?
                            </strong>

                            <div class="border mt-2 p-2 rounded bg-body-secondary overflow-y-scroll"
                                style="max-height: 150px;">
                                <p id="updateApp-releaseNote" class="m-0"></p>
                            </div>

                            <div class="input-group-sm mt-2">
                                <input id="remember_checkUpdater" type="checkbox" class="form-check-input">
                                <label for="remember_checkUpdater" class="form-check-label">
                                    Ghi nhớ lựa chọn của tôi
                                </label>
                            </div>

                            <div class="mt-3 d-flex justify-content-between">
                                <button name="close" type="button" class="btn btn-sm btn-outline-primary"
                                    style="width: 110px;" data-bs-dismiss="modal">Thoát</button>
                                <button name="download" id="btnConfirmDownloadUpdate" type="button"
                                    class="btn btn-sm btn-success" style="width: 110px;" data-bs-dismiss="modal">Tải
                                    Về</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Login -->
            <div class="modal modal-sm fade" id="modalLogin" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="modalLogin" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p class="text-center mb-2 fw-bold">CHÀO MỪNG BẠN QUAY LẠI</p>

                            <div class="input-group input-group-sm input-group-password">
                                <input id="appLock_password" class="form-control form-control-sm" type="password"
                                    placeholder="Nhập mật khẩu để tiếp tục">
                                <button class="btn btn-sm btn-secondary" tabindex="-1">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </div>
                            <span class="appLock_error text-danger"></span>

                            <div class="d-flex justify-content-end mt-3">
                                <button id="appLock_logout" class="btn btn-sm btn-outline-secondary"
                                    style="width: 85px;">Thoát</button>
                                <button id="appLock_login" class="btn btn-sm btn-primary ms-2" style="width: 85px;">Đăng
                                    nhập</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Register -->
            <div class="modal modal-sm fade" id="modalRegister" tabindex="-1" aria-labelledby="modalRegister"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p class="text-center mb-2 fw-bold">TẠO MẬT KHẨU ỨNG DỤNG</p>

                            <div class="input-group input-group-sm input-group-password">
                                <input id="appLock-register_password" class="form-control form-control-sm"
                                    type="password" placeholder="Nhập mật khẩu">
                                <button class="btn btn-sm btn-secondary" tabindex="-1">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </div>

                            <div class="input-group input-group-sm input-group-password mt-3">
                                <input id="appLock-register_comfirmPass" class="form-control form-control-sm"
                                    type="password" placeholder="Nhập lại mật khẩu">
                                <button class="btn btn-sm btn-secondary" tabindex="-1">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </div>

                            <span class="appLock_error text-danger"></span>

                            <div class="d-flex justify-content-end mt-3">
                                <button class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal"
                                    style="width: 85px;">Thoát</button>
                                <button id="appLock-register" class="btn btn-sm btn-primary ms-2"
                                    style="width: 85px;">Tạo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Change Password -->
            <div class="modal modal-sm fade" id="modalChangePass" tabindex="-1" aria-labelledby="modalChangePass"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p class="text-center mb-2 fw-bold">CÀI ĐẶT KHOÁ ỨNG DỤNG</p>

                            <div style="margin-bottom: 12px" class="d-flex align-items-center justify-content-center"
                                data-bs-trigger="hover" data-bs-toggle="popover"
                                data-bs-content="Bật cái này sẽ khoá ứng dụng và yêu cầu mật khẩu mỗi lần mở ứng dụng">
                                <strong class="text-nowrap" style="flex: 2">Khoá ứng dụng:</strong>
                                <div class="form-check form-switch" style="flex: 1">
                                    <input id="st_AppLock" type="checkbox" class="form-check-input pointer">
                                    <label for="st_AppLock" class="form-check-label pointer text-nowrap"></label>
                                </div>
                            </div>

                            <p class="text-center mb-2 fw-bold">ĐỔI MẬT KHẨU ỨNG DỤNG</p>

                            <div class="input-group input-group-sm input-group-password">
                                <input id="appLock-OldPass" class="form-control form-control-sm" type="password"
                                    placeholder="Nhập mật khẩu cũ">
                                <button class="btn btn-sm btn-secondary" tabindex="-1">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </div>

                            <div class="input-group input-group-sm input-group-password mt-3">
                                <input id="appLock-NewPass" class="form-control form-control-sm" type="password"
                                    placeholder="Nhập mật khẩu mới">
                                <button class="btn btn-sm btn-secondary" tabindex="-1">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </div>

                            <div class="input-group input-group-sm input-group-password mt-3">
                                <input id="appLock-ComfirmNewPass" class="form-control form-control-sm" type="password"
                                    placeholder="Nhập lại mật khẩu mới">
                                <button class="btn btn-sm btn-secondary" tabindex="-1">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </div>

                            <span class="appLock_error text-danger"></span>

                            <div class="d-flex justify-content-end mt-3">
                                <button class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal"
                                    style="width: 85px;">Thoát</button>
                                <button id="appLock-changePass" class="btn btn-sm btn-primary ms-2"
                                    style="width: 85px;">Đổi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Change Logs -->
            <div class="modal fade" id="modalChangeLogs" tabindex="-1" aria-labelledby="modalChangeLogs"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header p-2">
                            <p class="modal-title w-100 text-center fw-bold" id="staticBackdropLabel">NHẬT KÝ THAY ĐỔI
                            </p>
                        </div>
                        <div class="modal-body ">
                            <div id="changelog_list">

                            </div>
                            <script id="changelog_item_template" type="text/x-handlebars-template">
                                %#if changlelogData%
                                %#each changlelogData%
                                <div class="changelog_item mb-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a class="text-success link-underline link-underline-opacity-0" 
                                            href="https://github.com/ALR2310/SpendingManager/releases/tag/%tag_name%" target="_blank">%this.name%</a>
                                        <span>%this.created_at%</span>
                                    </div>
                                    <div class="bg-body border rounded-2 overflow-auto mt-2 p-3">
                                        %{this.body}%
                                    </div>
                                </div>
                                %/each%
                                %/if%
                            </script>
                        </div>
                        <div class="modal-footer p-2">
                            <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal"
                                style="width: 90px;">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script src="../../public/libs/sheetJS-0.20.0/xlsx.full.min.js"></script>
    <script src="../../public/libs/jsPDF-1.3.2/jspdf.min.js"></script>
    <script src="../../public/libs/jsPDF-1.3.2/jspdf.plugin.autotable.min.js"></script>
    <script src="../../public/libs/bootstrap-5.3.3/bootstrap.bundle.min.js"></script>
    <script src="../../public/libs/echarts-5.4.3/echarts/echarts.min.js"></script>
    <script src="../../public/libs/lodash-1.8.3/lodash.min.js"></script>
    <script src="../../public/libs/toast/toast.js"></script>
    <script src="../../public/js/main.js"></script>
    <script src="../../public/js/layout.js"></script>
    <script src="../../public/js/locales.js"></script>
</body>

</html>