<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../public/images/favicon.ico">
    <link rel="stylesheet" href="../../public/lib/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/lib/fontawesome-6.4.2/css/all.css">
    <link rel="stylesheet" href="../../public/lib/jquery-autocomplete-1.0.7/jquery.auto-complete.css">
    <link rel="stylesheet" href="../../public/lib/jquery-ui-1.13.2/jquery-ui.min.css">
    <link rel="stylesheet" href="../../public/lib/toast/toast.css">
    <link rel="stylesheet" href="../../public/css/main.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <script src="../../public/lib/jquery-3.7.1/all.js"></script>
    <script src="../../public/lib/jquery-autocomplete-1.0.7/jquery.auto-complete.min.js"></script>
    <script src="../../public/lib/jquery-ui-1.13.2/jquery-ui.min.js"></script>
    <script src="../../public/lib/handlebars/handlebars4.7.8.min.js"></script>
    <title>Spending Manager</title>
</head>

<body>
    <main>
        <div id="appcontainer" class="d-flex justify-content-center align-items-center bg-black" style="height: 100vh;">
            <div id="appcontent" class="">
                <div id="toast"></div>

                <!-- MainContent -->
                <div class="row">
                    <!-- sidebar -->
                    <div class="col-auto pe-0">
                        <div class="sidebar  border-end border-dark" style="padding-left: 1px;">
                            <ul class="sidebar-list">
                                <li id="page-home" class="sidebar-item">
                                    <a href="#" class="link-item">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                    <div class="speech">
                                        Trang Chủ
                                    </div>
                                </li>
                                <li id="page-spending" class="sidebar-item">
                                    <a href="#" class="link-item">
                                        <i class="fa-solid fa-message-dollar"></i>
                                    </a>
                                    <div class="speech">
                                        Chi Tiêu
                                    </div>
                                </li>
                                <li id="page-spendlist" class="sidebar-item">
                                    <a href="#" class="link-item">
                                        <i class="fa-solid fa-list-tree"></i>
                                    </a>
                                    <div class="speech">
                                        Danh Sách
                                    </div>
                                </li>
                                <li id="page-statisc" class="sidebar-item">
                                    <a href="#" class="link-item">
                                        <i class="fa-solid fa-chart-pie-simple-circle-dollar"></i>
                                    </a>
                                    <div class="speech">
                                        Thống Kê
                                    </div>
                                </li>
                                <li id="page-profile" class="sidebar-item">
                                    <a href="#" class="link-item">
                                        <i class="fa-solid fa-user"></i>
                                    </a>
                                    <div class="speech">
                                        Hồ Sơ
                                    </div>
                                </li>
                            </ul>

                            <ul class="sidebar-list border-top border-dark">
                                <li id="page-setting" class="sidebar-item-e">
                                    <a href="#offcanvasSetting" class="link-item" data-bs-toggle="offcanvas"
                                        aria-controls="offcanvasSetting">
                                        <i class="fa-solid fa-gear"></i>
                                    </a>
                                    <div class="speech">
                                        Cài Đặt
                                    </div>
                                </li>
                                <li id="page-logout" class="sidebar-item-e">
                                    <a href="#" class="link-item">
                                        <i class="fa-solid fa-right-from-bracket"></i>
                                    </a>
                                    <div class="speech">
                                        Đăng Xuất
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Page Template -->
                    <div class="col-11 ps-0">
                        <div id="page-content" style="width: 870px; height: 525px;"></div>
                    </div>
                </div>

                <!-- Offcanvas -->
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSetting"
                    aria-labelledby="offcanvasSetting" style="width: 300px;">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title text-center w-100 fw-bold" id="offcanvasSettingLabel">
                            Cài Đặt Ứng Dụng
                        </h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <!-- Dark Mode -->
                        <div id="ctst_darkMode" class=" mb-3 d-flex align-items-center justify-content-between">
                            <strong class="text-nowrap">Giao diện:</strong>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="darkModeToggle">
                                <label class="form-check-label" for="darkModeToggle">Chế độ tối</label>
                            </div>
                        </div>
                        <!-- Default Page -->
                        <div id="st_defaultPage" class="mb-3 d-flex align-items-center">
                            <strong class="text-nowrap">Trang mặt định:</strong>
                            <select class="form-select ms-4" id="exampleCombobox">
                                <option value="home">Trang chủ</option>
                                <option value="spending">Chi tiêu</option>
                                <option value="spendlist">Danh sách</option>
                                <option value="statics">Thống kê</option>
                                <option value="profile">Hồ sơ</option>
                            </select>
                        </div>
                        <!-- Default Action -->
                        <div id="st_defaultAction" class="mb-3 d-flex align-items-center"
                            title="Chọn hành động sẽ thực hiện khi bấm Enter trên form nhập dữ liệu trong trang chi tiêu">
                            <strong class="text-nowrap">Thao tác mặt định:</strong>
                            <select class="form-select ms-4" id="st_defaultAction">
                                <option value="add">Thêm</option>
                                <option value="edit">Sửa</option>
                                <option value="del">Xóa</option>
                            </select>
                        </div>
                        <!-- Language -->
                        <div class=" mb-3 d-flex align-items-center justify-content-between"
                            title="Chọn ngôn ngữ hiển thị cho ứng dụng">
                            <strong class="text-nowrap">Ngôn ngữ:</strong>
                            <select class="form-select ms-4" id="st_language">
                                <option value="vi">Tiếng Việt</option>
                                <option value="en">Tiếng Anh</option>
                            </select>
                        </div>
                        <!-- Tooltip -->
                        <div class=" mb-3 d-flex align-items-center justify-content-between"
                            title="Bật cái này sẽ hiển thị chú giải trên các tuỳ chọn trong cài đặt">
                            <strong class="text-nowrap">Chú giải:</strong>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="st_tooltip">
                                <label class="form-check-label" for="st_tooltip">Bật chú giải</label>
                            </div>
                        </div>
                        <!-- Reset -->
                        <div class=" mb-3 d-flex align-items-center justify-content-center"
                            title="Đặt lại cài đặt mặt định">
                            <button id="btn-reset" class="btn btn-primary">Đặt lại mặt định</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../../public/lib/sheetJS-0.20.0/xlsx.full.min.js"></script>
    <script src="../../public/lib/jsPDF-1.3.2/dist/jspdf.min.js"></script>
    <script src="../../public/lib/jsPDF-1.3.2/dist/jspdf.plugin.autotable.min.js"></script>
    <script src="../../public/lib/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
    <script src="../../public/lib/echarts-5.4.3/dist/echarts.min.js"></script>
    <script src="../../public/lib/toast/toast.js"></script>
    <script src="../../public/js/main.js"></script>
    <script src="../../public/js/layout.js"></script>
    <script src="../../public/js/hbs-init.js"></script>

</body>

</html>