<div class="container-fluid">
    <div id="home-statics" class="row border-bottom border-dark" style="padding: 12px 0;">
        <div class="col">
            <div class="d-flex flex-column border border-dark rounded-2">
                <strong name="today" class="text-center fs-5">Hôm Nay</strong>
                <small id="total_today" class="text-center text-success fs-6 fw-bold">0 đ</small>
            </div>
        </div>
        <div class="col">
            <div class="d-flex flex-column border border-dark rounded-2">
                <strong name="yesterday" class="text-center fs-5">Hôm Qua</strong>
                <small id="total_yesterday" class="text-center text-success fs-6 fw-bold">0 đ</small>
            </div>
        </div>
        <div class="col">
            <div class="d-flex flex-column border border-dark rounded-2">
                <strong name="thisWeek" class="text-center fs-5">Tuần Này</strong>
                <small id="total_thisweek" class="text-center text-success fs-6 fw-bold">0 đ</small>
            </div>
        </div>
        <div class="col">
            <div class="d-flex flex-column border border-dark rounded-2">
                <strong name="lastWeek" class="text-center fs-5">Tuần Trước</strong>
                <small id="total_lastWeek" class="text-center text-success fs-6 fw-bold">0 đ</small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 border-end border-dark p-0">
            <!-- Charts -->
            <div id="chart" style="width: 100%; height: 447.991px;"></div>
        </div>

        <div class="col-4" style="padding-top: 12px;padding-bottom: 12px">
            <!-- Button Change -->
            <button id="btn-flipCards" class="btn btn-sm btn-outline-secondary w-100"
                style="margin-bottom: 12px;--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                <i class="fa-solid fa-arrow-left"></i>
                <i class="fa-solid fa-dash"></i>
                <i class="fa-solid fa-dash"></i>
                <i class="fa-solid fa-dash"></i>
                <i class="fa-solid fa-arrow-right"></i>
            </button>

            <!-- Cards -->
            <div class="cardContainer">
                <div class="theCard">
                    <!-- Crypto -->
                    <div class="crypto rounded border border-dark overflow-y-scroll overflow-x-hidden">
                        {{#if fakeData}}
                        {{#each fakeData}}
                        <div class="crypto-item row p-2 placeholder-glow">
                            <div class="col-auto pe-0">
                                <div class="placeholder rounded-circle" style="width: 35px; height: 35px;"></div>
                            </div>
                            <div class="col-4">
                                <span class="placeholder h-25 col-9"></span>
                                <span class="placeholder h-25 col-12"><span />
                            </div>
                            <div class="col ps-0">
                                <span class="placeholder h-25 col-12"></span>
                                <span class="placeholder h-25 col-5"></span>
                                <span class="placeholder h-25 col-5"></span>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>

                    <script type="text/x-handlebars-template" id="template_crypto-item">
                    %#if cryptoData%
                        %#each cryptoData%
                        <div class="crypto-item row p-2">
                            <div class="col-auto pe-0">
                                <a class="poiner d-block" href="https://coinmarketcap.com/vi/currencies/%this.slug%/"
                                    target="_blank" title="Xem chi tiết">
                                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/%this.id%.png" alt="%this.name%">
                                </a>
                            </div>
                            <div class="col-3 col-custom overflow-hidden">
                                <strong title="%this.symbol%">%this.symbol%</strong>
                                <p class="text-nowrap" title="%this.name%">%this.name%</p>
                            </div>
                            <div class="col">
                                <p name="price" title="Giá cả" class="%addPercentageClass this.quote.VND.percent_change_1h%">%this.quote.VND.price%</p>
                                <div class="d-flex justify-content-between">
                                    <p name="change" title="Biến động 24 giờ" class="%addPercentageClass this.quote.VND.percent_change_24h%">
                                        <span>%this.quote.VND.percent_change_24h%</span>
                                    </p>
                                    <p name="volume" title="Khối lượng 24 giờ" class="%addPercentageClass this.quote.VND.volume_change_24h%">
                                        <span>%this.quote.VND.volume_change_24h%</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        %/each%
                        <div class="p-2 pt-0">
                            <a href="https://coinmarketcap.com" target="_blank" class="btn btn-sm btn-outline-secondary w-100" 
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                <span name="more">XEM THÊM</span> <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                        </div>
                    %else%
                        <p class="text-center p-2 m-0 w-100 d-block">Lấy thông tin thất bại!</p>
                    %/if%
                    </script>

                    <!-- Weather -->
                    <div class="weather rounded p-3 h-100">
                        <div class="mt-2 mb-2 position-relative">
                            <input id="tbl_weatherSearch" type="text" class="form-control text-white  d-block"
                                placeholder="Tìm kiếm..." style="box-shadow: 0 5px 4px rgba(0,0,0,0.2);">

                            <button id="btn_weatherMyAddress" class="btn btn-sm rounded-5">
                                <i class="fa-solid fa-crosshairs-simple"></i>
                            </button>
                        </div>


                        <div class="p-2 text-center text-white overflow-x-hidden">
                            <strong class="text-center fs-4" style="text-shadow: 2px 2px rgba(0,0,0,0.5);">
                                <span id="txt_weatherCity">Khanh Hoa</span>
                            </strong>
                            <p class="p-0">
                                <span id="txt_weatherDate">17/03/2024</span>
                                <span>,</span>
                                <span id="txt_weatherTime">10:02:50 PM</span>
                            </p>
                        </div>

                        <div class="temperature ms-4 me-4 rounded text-center text-white">
                            <strong id="txt_weatherTemperature" class="text-center fs-1 pt-2 pb-2 d-block">
                                23 <sup>o</sup>C
                            </strong>
                        </div>

                        <div class="m-3">
                            <strong id="txt_weatherClouds" class="text-center d-block fs-3 text-white font-weight-bold"
                                style="text-shadow: 3px 3px rgba(0,0,0,0.5);">Clouds</strong>
                            <span id="txt_weatherCloudsDesc" class="text-center d-block text-white"
                                style="text-shadow: 3px 3px rgba(0,0,0,0.5);">Mây đen u ám</span>
                        </div>

                        <div class="row text-white" style="font-size: 15px;">
                            <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                                <i class="fa-sharp fa-regular fa-eye"></i>
                                <span id="txt_weatherVisibility" class="text-center text-nowrap mt-2">1000 (ms)</span>
                            </div>
                            <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                                <i class="fa-sharp fa-regular fa-cloud-sun"></i>
                                <span id="txt_weatherHumidity" class="text-center text-nowrap mt-2">89 (%)</span>
                            </div>
                            <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                                <i class="fa-sharp fa-regular fa-wind"></i>
                                <span id="txt_weatherWind" class="text-center text-nowrap mt-2">2.35 (m/s)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../public/js/home.js"></script>