<div class="container-fluid">
    <div class="row">
        <div class="col-8 border-end border-dark">
            <div class="row pb-2 pt-2 border-bottom border-dark">
                <div class="col-5">
                    <div class="input-group">
                        <select class="form-select" id="SpendingList">
                            {{#if spendingList}}
                            {{#each spendingList}}
                            <option value="{{this.id}}">{{this.namelist}}</option>
                            {{/each}}
                            {{/if}}
                        </select>
                        <button class="btn btn-secondary" type="button" data-bs-toggle="modal"
                            data-bs-target="#modalNewSpendingList">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>

                <div class="col-7">
                    <div class="input-group">
                        <button id="btn-openDateSearch" class="btn btn-secondary">
                            <i class="fa-solid fa-calendar"></i>

                            <div class="searchDate input-group bg-body-tertiary rounded p-1">
                                <select id="typeDateSearch" class="form-select" style="flex: 0.7;">
                                    <option value="date">Ngày</option>
                                    <option value="month">Tháng</option>
                                </select>
                                <input id="txtSearchDate" type="date" class="form-control" style="flex: 2;">
                            </div>
                        </button>

                        <input id="txtSearch" type="search" class="form-control" placeholder="Nhập từ khoá tìm kiếm">
                        <button class="btn btn-secondary" type="button" onclick="displaySpendingItems()">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Table  -->
            <div class="row pt-2" style="padding: 0 12px;">
                <div id="tbContainer" class="tableScroll overflow-auto" style="height: 455px;">
                    <table id="tbdata" class="table table-sm table-hover border">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <button class="btn-sort" data-sort="0">#</button>
                                </th>
                                <th scope="col">
                                    <button class="btn-sort" data-sort="1">Ngày</button>
                                </th>
                                <th scope="col">
                                    <button class="btn-sort text-nowrap" data-sort="2">Khoảng Chi</button>
                                </th>
                                <th scope="col">
                                    <button class="btn-sort" data-sort="3">Số Tiền</button>
                                </th>
                                <th scope="col">
                                    <button class="btn-sort" data-sort="4">Thông Tin
                                        Thêm</button>
                                </th>
                                <th class="border"></th>
                            </tr>
                        </thead>
                        <tbody id="tbody"></tbody>
                        <script type="text/x-handlebars-template" id="template-tbody">
                                %#if spendItemByList%
                                %#each spendItemByList%
                                    <tr class="pointer">
                                        <th data-id="%this.id%" scope="row">%this.id%</th>
                                        <td>%this.atupdate%</td>
                                        <td>%this.nameitem%</td>
                                        <td>%this.price%</td>
                                        <td>%this.details%</td>
                                        <td class="border-start">
                                            <button class="btn-spendView rounded-5" onclick="spendViews(this)">
                                                <i class="fa-sharp fa-regular fa-eye"></i>
                                            </button>
                                        </td>
                                    </tr>
                                %/each%
                                %/if%
                        </script>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-4 pe-0 ps-0">
            <style>
                #btnCreate,
                #btnUpdate,
                #btnDelete {
                    width: 28%;
                }
            </style>
            <!-- {{! Button CURD }} -->
            <div class="d-flex justify-content-evenly pb-2 pt-2 border-bottom border-dark">
                <button id="btnCreate" class="btn btn-success">Thêm</button>

                <button id="btnUpdate" class="btn btn-primary ">Sửa</button>

                <button id="btnDelete" class="btn btn-danger ">Xóa</button>
            </div>

            <!-- {{! Field }} -->
            <div class="container mb-3 mt-3">
                <div class="row">
                    <div class="col-3">
                        <div class="form__group field mb-1">
                            <input id="spendId" readonly type="text" class="form__field" placeholder="Id">
                            <label for="spendId" class="form__label">Id</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form__group field">
                            <input id="spendDate" type="date" class="form__field" placeholder="Ngày Tháng">
                        </div>
                    </div>
                </div>

                <div class="form__group field mb-1">
                    <input id="spendName" type="text" class="form__field" placeholder="Loại Khoản Chi"
                        autocomplete="Họ Và Tên">
                    <label for="spendName" class="form__label">Loại Khoản Chi</label>
                </div>

                <div class="form__group field mb-1">
                    <input id="spendPrice" type="text" class="form__field" placeholder="Số Tiền"
                        autocomplete="Họ Và Tên">
                    <label for="spendPrice" class="form__label">Số Tiền</label>
                </div>

                <div class="form__group field mb-1">
                    <input id="spendDetails" type="text" class="form__field" placeholder="Thông Tin Chi Tiết"
                        autocomplete="Họ Và Tên">
                    <label for="spendDetails" class="form__label">Thông Tin Chi Tiết</label>
                </div>

                <button id="btnClearData" class="btn w-100 mt-3 text-black" style="background-color: #a3d1ff;">
                    Dọn Dữ Liệu
                    <i class="fa-sharp fa-solid fa-trash"></i>
                </button>
            </div>

            <div class="container border-top border-dark">
                <div id="spendTotal" class="text-black mt-3 mb-3 rounded" style="background-color: #E0EEE0;">
                    <div class="row">
                        <div class="col-4 pe-0">
                            <p id="spendItemCount" class="mb-0 p-2">SL: 0</p>
                        </div>
                        <div class="col-auto ps-0">
                            <p id="spendItemTotal" class="mb-0 p-2">Tổng Mục: 0 ₫</p>
                        </div>
                    </div>
                    <div class="col">
                        <p id="spendListTotal" class="mb-0 p-2 pt-0">Tổng Danh Sách:
                            100.000.000 ₫</p>
                    </div>
                </div>
            </div>

            <div class="container  border-top border-dark">
                <div class="row mt-3 mb-3">
                    <div class="col-6">
                        <button id="btn-excel_export" class="btn btn-outline-success w-100">Xuất File
                            <i class="fa-sharp fa-solid fa-file-excel"></i>
                        </button>
                    </div>
                    <div class="col-6">
                        <button id="btn-pdf_export" class="btn btn-outline-danger w-100">Xuất File
                            <i class="fa-sharp fa-solid fa-file-pdf"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal New SpendingList -->
<div class="modal fade" id="modalNewSpendingList" tabindex="-1" aria-labelledby="modalNewSpendingList"
    aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNewSpendingList">Thêm Danh Sách Mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="newSpendingList" type="text" class="form-control" placeholder="Tên Danh Sách Mới">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"
                    style="width: 100px;">Thoát</button>
                <button id="btnSaveSpendingList" type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal"
                    style="width: 100px;">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Confirm Delete -->
<div class="modal modal-sm fade" id="modalConfirmDelete" tabindex="-1" aria-labelledby="modalConfirmDelete"
    aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content" style="">
            <div class="modal-body">
                <strong class="text-danger">Bạn có chắc muốn xoá dữ liệu này không?</strong>
                <div class="mt-3">
                    <input id="reminderDelete" type="checkbox" class="form-check-input">
                    <label for="reminderDelete" class="form-check-label pointer">Không hiển thị lại lời nhắc</label>
                </div>
                <div class="mt-3 d-flex justify-content-between">
                    <button type="button" class="btn btn-sm btn-secondary" style="width: 100px;"
                        data-bs-dismiss="modal">Thoát</button>
                    <button id="btnConfirmDelete" type="button" class="btn btn-sm btn-primary"
                        style="width: 100px;">Xoá</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal SpendViews -->
<div class="modal modal-sm fade" id="modalSpendViews" tabindex="-1" aria-labelledby="modalSpendViews" aria-hidden="true"
    data-bs-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content" style="">
            <div class="modal-header">
                <h5 class="modal-title SpendViews_list-title">Chi Tiêu Cá Nhân</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col-auto">
                        <strong class="text-nowrap">Id:</strong>
                        <span class="SpendViews_id-value">1</span>
                    </div>
                    <div class="col">
                        <strong class="text-nowrap">Trạng Thái:</strong>
                        <i class="fa-sharp fa-regular fa-circle-check text-success"></i>
                    </div>
                </div>

                <div class="d-flex mb-2">
                    <strong class="text-nowrap">Tên khoản chi:</strong>
                    <span class="SpendViews_name-value">Ăn Sáng</span>
                </div>

                <div class="d-flex mb-2">
                    <strong class="text-nowrap">Số tiền:</strong>
                    <span class="SpendViews_price-value">100.000.000 đ</span>
                </div>

                <div class="d-flex mb-2">
                    <strong class="text-nowrap">Ngày Thêm:</strong>
                    <span class="ps-2 SpendViews_date-value">01/01/2022</span>
                </div>

                <div class="d-flex mb-2">
                    <strong class="text-nowrap">Ngày Cập Nhật</strong>
                    <span class="ps-2 SpendViews_update-value">01/01/2022</span>
                </div>

                <div class="d-flex mb-2">
                    <strong class="text-nowrap">Thông tin bổ sung: </strong>
                    <span class="ps-2 SpendViews_info-value">Không có thông tin</span>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../../public/js/spending.js"></script>